
@model Game
<div id="game-root"></div>

@section Scripts {
    <script>
        var gameData = @Html.Raw(Json.Serialize(Model));
    </script>
    <script type="module" src="~/dist/assets/main.js" asp-append-version="true"></script>
}