html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #6b6b6b;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: black;
  color: white;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #a30000;
}

.btn-primary {
  color: #fff;
  background-color: #c50000;
  border-color: #fd0000;
}

.btn-primary:focus, .btn-primary:active:focus, .btn-primary:hover {
  background-color: #760000;
  border-color: #fd0000;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #c21b1b;
  border-color: #ac1818;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.card {
  background-color: #646464;
}

.game-player {
  height: 15vw;
  width: 18vw;
  position: relative;
}

.game-player .portrait {
  z-index: 2;
  position: absolute;
  left: 35%;
  top: 7%;
  width: 30%;
}

.game-player .allegiance {
  width: 100%;
}